@charset "UTF-8";

*{
	box-sizing: border-box;
	margin: 0;
	pause: 0;
}
bodt{
	font-family:  Arial, sans-serif;
}
header{
	background-color: #555;
	color: white;
	font-size: 30px;
	padding: 30px;
	text-align: center;
}
section {
	display: flex;
}
nav {
	flex: 1;
	background-color: #FFE0B2FF;
	padding: 20px;
}
nav ul{
	list-style: none;
	padding: 0;
}
article{
	flex: 3;
	padding: 20px;
	background-color: red;
}
footer{
	background-color: #555;
	color: white;
	padding: 30px;
	text-align: center;
}